extends ../template/layout

mixin carListTitle(titleName, imgUrl, href)
  div.title-cont
    p.title=titleName 
    div.img-box
      img(src=`${imgPath}/main/${imgUrl}`, alt="브랜드")
  a(href=`carpage/${href}` class="more") 더보기 +

mixin carListInfoBox(carName, price, imgUrl)
  li.fn-open-modal-quote
    div.img-box 
      img(src=imgUrl, alt="이미지")
    div.car-info-box 
      p.name=carName
      p.price #{price.toString().replace(/\B(?=(\d{3})+(?!\d))/g,",")}
        span.won 원
    div.text-tip
      p.less 리스 
      p.lowest 최저가

mixin mobileLastCarListInfoBox(href)
  li.btn-last-box.pc-hidden  
    a(class="btn-go" href=`carpage/${href}`)
      div.icon-plus


//-==HTML==
block content
  div(class="active-menu-data" data-active-target-menu="home")
  main(class="wrap-container page-main") 
    section(class="sect sect-intro sect-first-top")
      div(class="sect-container")
        //- div.intro-bg-area
          //- div.img-bg
            //- img(src=`${imgPath}/main/main_intro_bg.jpg`, alt="이미지")
          //- div.img-car
          //-   img(src=`${imgPath}/main/main_intro_car.png`, alt="이미지")
        div.intro-area
          .intro-title-box.mobile-hidden 
            p.title-sub 빠른견적, 빠른출고 최적화된 견적을 받아보세요!
            p.title-main 수입차 전문 렌트, 리스<br>즉시출고 문의 주세요!
          
          div.intro-cont.swiper-intro-slide
            ul.intro-cont-ul.swiper-wrapper
              li.ani-move-down.swiper-slide
                img(src=`${imgPath}/main/main_intro01.png`, alt="이미지")
              li.ani-move-down.swiper-slide
                img(src=`${imgPath}/main/main_intro02.png`, alt="이미지")
              li.ani-move-down.swiper-slide
                img(src=`${imgPath}/main/main_intro03.png`, alt="이미지")
          .intro-slide-controller.pc-hidden 
              .controller-area 
                button.btn-slide.slide-prev
                  img(src=`${imgPath}/main/btn_arrow_left.png`, alt="이미지")
                button.btn-slide.slide-next
                  img(src=`${imgPath}/main/btn_arrow_left.png`, alt="이미지")
            
            


        div.intro-info-bar 
          ul.info-ul
            li 
              p.name 오늘상담문의
              p.num.count-target 205
            li 
              p.name 즉시출고
              p.num.count-target 49
            li 
              p.name 누적계약수
              p.num.count-target 27576

    section(class="sect sect-event")
      div(class="sect-container")
        .event-area
          div.event-bg 
            img(src=`${imgPath}/main/main_event_bg.png`, alt="이미지")
          
          .event-cont
            .event-img-area
              img(src=`${imgPath}/main/main_event_phone.png`, alt="이미지" class="img-phone")
              img(src=`${imgPath}/main/main_event_hand.png`, alt="이미지" class="img-hand")
            .event-text-area
              div.title-box
                p.title-sub 수입차 최대특판!
                p.title-main 즉시출고 이벤트~!
            
              p.text
                |수입차전문 출고회사입니다.</br>
                |최적화된 1:1 맞춤형 견적을 드리고 있습니다. 문의주세요!</br>
                |수입차 <span>전문상담원이 최저가로 실시간 차량확인과</br>
                |즉시출고되는 차량</span>으로 도와드리고 있습니다.</br>

              .btn-box 
                p.title-main 개인 차종 맞춤상담!
                p.title-sub 문의주세요!
                button(type="button" class="btn fn-open-modal-quote") 견적문의하기

  
    section(class="sect sect-common-ad")
      div.ad-container
        button(class="ad-link fn-open-modal-quote")
          img(src=`${imgPath}/main/banner_ad01.png`, alt="이미지" class="mobile-hidden")
          img(src=`${imgPath}/main/banner_ad01_m.png`, alt="이미지" class="pc-hidden")

    section(class="sect sect-carlist")
      div(class="sect-container")
        div.title-area
          p.main 수입차량 특가!
          p.sub 벤츠, BMW, 아우디 등 수입차 특가차량을 만나보세요 

        div.carlist-contents
          div.car-list-info
            div.car-title.brand-benz
              +carListTitle("벤츠", "icon_brand_benz.png","benz.html")
            ul.car-ul
              +carListInfoBox("E250",633300,`${imgPath}/car/benz/e250.png`)
              +carListInfoBox("S350d",1426500,`${imgPath}/car/benz/s350d3.png`)
              +carListInfoBox("GLC 200d",724500,`${imgPath}/car/benz/glc200d.png`)
              +carListInfoBox("GLE 300d",1051200,`${imgPath}/car/benz/gle300d.png`)
              +mobileLastCarListInfoBox("benz.html")

          div.car-list-info
            div.car-title.brand-bmw
              +carListTitle("BMW", "icon_brand_bmw.png", "bmw.html")
            ul.car-ul
              +carListInfoBox("320i",565100 ,`${imgPath}/car/bmw/320i.png`)
              +carListInfoBox("520i",656500 ,`${imgPath}/car/bmw/520i.png`)
              +carListInfoBox("740i",1988600 ,`${imgPath}/car/bmw/740i.png`)
              +carListInfoBox("X7",1436200 ,`${imgPath}/car/bmw/x7.png`)
              +mobileLastCarListInfoBox("bmw.html")

          div.car-list-info
            div.car-title.brand-audi
              +carListTitle("아우디", "icon_brand_audi.png", "audi.html")
            ul.car-ul
              +carListInfoBox("A4",550600,`${imgPath}/car/audi/a4.png`)
              +carListInfoBox("A6",697000,`${imgPath}/car/audi/a6.png`)
              +carListInfoBox("Q5",733200,`${imgPath}/car/audi/q5.png`)
              +carListInfoBox("Q8",1113200,`${imgPath}/car/audi/q8.png`)
              +mobileLastCarListInfoBox("audi.html")

        div.carlist-ad-area
          button(class="ad-link fn-open-modal-quote")
            img(src=`${imgPath}/main/carlist_banner.png`, alt="이미지" class="mobile-hidden")
            img(src=`${imgPath}/main/carlist_banner_m.png`, alt="이미지" class="pc-hidden")



          
      
        





  script(type="module" src=`${basePath}/static/js/main.js`)
  script(src=`${basePath}/static/js/aniEventList_main.js`)
