mixin snsicon(altName, imgPath, aHref="#none", aTarget="_self")
  li: a(href=aHref target=aTarget): img(src=imgPath alt="연결 "+altName)



footer.footer
  div.footer-container
    div.footer-info
      div.copy-text-cont
        p.company 퍼니라인&nbsp;
        div.company-info
          p 대표자&nbsp;&nbsp; 김은정 &nbsp;&nbsp; | &nbsp;&nbsp; 사업자등록번호&nbsp; 102-20-95096 &nbsp;&nbsp; | &nbsp;&nbsp; 통신판매업신고번호&nbsp; 제2022-서울강남-05355호
          p 주소&nbsp;&nbsp;&nbsp; 서울시 강남구 테헤란로82길 15 2층 248호(디아이타워)
    
    div.footer-consult
      div.consult-box.consult-katalk
        div.icon 
          img(src=`${imgPath}/common/icon_circle_katalk.png`, alt="아이콘")
        p.ment 카카오톡 상담 진행중
      div.consult-box.consult-tel
        div.tel-title
          div.icon
            img(src=`${imgPath}/common/icon_consult.png`, alt="아이콘")
          p.title.mobile-hidden 벤카장기렌트, 리스 전문
        p.tel-cont TEL: 1533-3753 
          span (월~금 09:00~18:00 공휴일 휴무)

    div.footer-menu
      ul.footer-menu-ul
        li
          button(class="fn-open-modal-agree" type="button") 개인정보 취급방침    
        li
          button(class="fn-open-modal-terms" type="button") 이용약관

    p.copyright COPYRIGHT &COPY BENCAR CORP. ALL RIGHTS RESERVED.