-let keywordCount = 0;
mixin searchList(keyword)
  - keywordCount++
  li: a(href=`http://www.careasy.co.kr/search?search_text=${keyword}`) #{keywordCount}. #{keyword}


//- div(class="outer-top-banner")
//-   .top-banner-area   
//-     button(class="img-box fn-open-modal-pop-sunting")
//-       img(src=`${imgPath}/modal/pop/pop_sunting_topbanner.png`, alt="탑배너바" )
//-     button.btn-close-banner
//-       img(src=`${imgPath}/modal/pop/btn_close_top_banner.png`, alt="닫기버튼")



header.header.header-pos-absolute
  //- div.header-bg

  div.header-top
    //==검색 추가부분==
    //- div.top-content
    //-   div.top-logo
    //-     a(href=`${basePath}index.html`)
    //-       h1.logo-txt 
    //-         p.logo-txt-main SAMSUNG CARD
    //-         p.logo-txt-sub 삼성카드 장기렌트. 리스
          //- img(src=`${imgPath}/common/logo_top.png`, alt="탑로고")
          
        
      //- div.search-area
        div.search-bar
          div.search-cont
            div(class="bar-rank fn-open-rankbox")
              p.p-txt 인기검색
              p.rank-one 1. 스포티지
            input(class="in-search" type="text" placeholder="차종을 입력하세요")
          a(class="btn-search" href=`${basePath}search/search.html`) 
            img(src=`${imgPath}/common/icon_search.png`, alt="검색버튼")
          
        div(class="search-rank open-rank-target")
          div.rank-box
            div.icon-triangle
            button(class="btn-close-rank" type="button")
            p.top-ment 인기검색
            ul.rank-ul
              +searchList("스포티지")
              +searchList("카니발")
              +searchList("테슬라")
              +searchList("gv80")
              +searchList("그랜저")
    //==검색 추가부분 끝==

  
  div.header-container
    //- img(src=`${imgPath}/common/logo_top_color.png`, alt="탑로고 모바일" class="pc-hidden")
    
    //- div.header-logo
    //-   a(href=`${basePath}index.html`)
    //-    img(src=`${imgPath}/common/logo_top.png`, alt="탑로고" class="mobile-hidden")
    //-    img(src=`${imgPath}/common/logo_top_color.png`, alt="탑로고 모바일" class="pc-hidden")
    .logo-area
      .top-logo
        a(href=`${basePath}index.html`)
          img(src=`${imgPath}/common/top_logo.png`, alt="로고")
      button(class="btn-hamburger pc-hidden fn-open-side-menu")
        img(src=`${imgPath}/common/btn_hamburger.png`, alt="햄버거 버튼")

    nav.top-menu-content
      ul.top-menu-ul
        li(data-active-name="home"): a(href=`${basePath}index.html` class="pc-hidden") 홈
        li(data-active-name="intro"): a(href=`${basePath}intro/intro.html`) 장기렌트리스안내
        li(data-active-name="car-benz"): a(href=`${basePath}carpage/benz.html`) 벤츠
        li(data-active-name="car-bmw"): a(href=`${basePath}carpage/bmw.html`) BMW
        li(data-active-name="car-audi"): a(href=`${basePath}carpage/audi.html`) 아우디
        li(data-active-name=""): a(class="fn-open-modal-car-release") 즉시출고차량
        //- li: a(href=`https://www.youtube.com/channel/UC_LntEPC8s3h_QVESEuc1jQ` target="_blank") 유튜브 리뷰

    


div(class="mobile-side-menu pc-hidden target-side-menu off-side-menu")
    button(class="btn-close btn-close-side-menu")
      //- div.icon-close
      //- img(src=`${imgPath}/common/btn_close.png`, alt="닫기버튼")
    div.menu-title
      p 카테고리
    .side-menu-cont
      .text-box 
        p 벤카의 수입차 비교견적
        p 개인 맞춤 제안까지 해드립니다.
      ul.side-menu-ul
        li
          a(href="tel:1533-3753")
            img(src=`${imgPath}/common/icon_side_menu01.png`, alt="아이콘")
            p 전화문의
        li
          a(href="tel:1533-3753")
            img(src=`${imgPath}/common/icon_side_menu02.png`, alt="아이콘")
            p 견적문의  



