
div(class="mobile-bottom-wrap")
  ul(class="mobile-btn-ul") 
    li
      a(href=`${basePath}/index.html`)
        img(src=`${imgPath}/common/icon_mobile_bottom_btn01.png`, alt="아이콘")
        p 홈
    li
      a(href="#none")
        img(src=`${imgPath}/common/icon_mobile_bottom_btn02.png`, alt="아이콘")
        p 카카오톡 문의
    li.btn-center.ani-btn
      a(href="tel:1533-3753") 
        img(src=`${imgPath}/common/icon_mobile_bottom_btn03.png`, alt="아이콘")
        p 전화상담
    li
      button(class="fn-open-modal-car-release")
        img(src=`${imgPath}/common/icon_mobile_bottom_btn04.png`, alt="아이콘")
        p 즉시출고
    li
      button(class="fn-open-modal-quote")
        img(src=`${imgPath}/common/icon_mobile_bottom_btn05.png`, alt="아이콘")
        p 장기렌트리스
    
